@media (max-width: 1199px)
{
	.header__logo {
		width: auto;
	}

	.mini-modal_lang {
		margin-left: 25px;
	}

	.header__menu-item + .header__menu-item {
		margin-left: 22px;
	}

	.header__request{
		margin-left: 25px;
	}

	.main-slide__coll {
		width: calc(47.5% - 1px);
	}

	.main-slide__box{
		margin-top: 11vh;
	}

	.slide-inner__wrap{
		padding-bottom: 7%;
	}

	.slide-inner__title {
		font-size: 32px;
		max-width: 616px;
	}

	.slider-thumbs{
		bottom: 4vh;
		height: 70px;
	}
	
	.slider-thumbs__item{
		width: 18px;
		height: 18px;
	}

	.slider-thumbs__item._active {
		width: 70px;
		height: 70px;
	}

	.main-about__box {
		width: 60%;
	}

	.main-about__title{
		padding-right: 4%;
	}

	.main-about__text {
		padding-right: 4%;
	}

	.history__slider {
		max-width: 47%;
	}

	.history__video{
		display: none;
	}

	.career__coll{
		width: 100%;
	}

	.career__colr{
		width: 100%;
		margin-top: 30px;
	}


	.main-title._mob{
		display: block;
		margin-bottom: 20px;
	}

	.service__coll{
		width: 100%;
	}

	.service__colr{
		width: 100%;
		margin-top: 30px;
	}

	.service__colr .main-title{
		display: none;
	}

	.service .text-block{
		margin-top: 0;
	}

	.contacts__flex{
		margin-top: 15px;
	}

	.contacts__map{
		width: 100%;
	}

	.contacts__colr{
		width: 100%;
		margin-top: 30px;
	}

	.information__colr{
		padding-left: 16px;
		padding-right: 16px;
	}


	.news-big__colr{
		padding: 30px 0 30px 20px;
	}

	.news-big__name {
		font-size: 24px;
	}

	.news-big__text{
		padding-left: 70px;
	}

	.news-big__text::before {
		width: 50px;
	}


	.news__item-img{
		width: 100%;
	}

	.news__item-box{
		padding: 24px 0 0;
		width: 100%;
		margin: 0;
		min-height: 1px;
	}

	.wrap-btn{
		margin-top: 40px;
	}


	.footer__logo {
		width: auto;
	}
}