@media (max-width: 767px)
{
	.main-slide__img {
		max-height: 51vh;
	}

	.history__slider {
		max-width: none;
		width: 100%;
		padding-bottom: 44px;
		padding-right: 26.5%;
	}

	.history__slider::before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 24px;
		height: 24px;
		margin-left: -12px;
		background: url(../images/ic_drag.svg) 50% no-repeat;
	}

	.history__bg{
		padding: 96px 16px 66px 42px;
	}

	.history__date{
		font-size: 30px;
		line-height: 66px;
	}

	.history__slider .swiper-slide-active .history__date{
		font-size: 60px;
	}

	.history__desc{
		margin-top: 21px;
	}

	.history__slider .swiper-slide {
		transform: scale(.7) translateX(-12%);
	}

	.history__slider .swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide {
		transform: scale(.7) translateX(-100%);
	}
	
	.history__slider .swiper-slide-active {
		transform: scale(1) translate(0);
	}

	.slider-button-prev,
	.slider-button-next{
		bottom: 0;
	}

	.slider-button-prev{
		right: 50%;
		margin-right: 34px;
	}

	.slider-button-next{
		right: auto;
		left: 50%;
		margin-left: 34px;
	}

	.history__slider .slider-button-prev{
		margin-right: 34px;
		margin-left: 0;
	}

	.history__slider .slider-button-next{
		margin-right: 0;
		margin-left: 34px;
	}

	
	.small-title{
		font-size: 24px;
		line-height: normal;
	}

	.career__form{
		margin-top: 45px;
	}

	.career__small-title{
		margin-bottom: 23px;
	}


	.sorting__link{
		font-size: 10px;
	}

	.page-inner{
		padding-top: 30px;
	}


	.information__flex{
		min-height: 1px;
		align-items: flex-start;
		align-content: flex-start;
	}

	.information__coll{
		width: 100%;
	}

	.information__img {
		padding-bottom: 70%;
		min-height: 400px;
	}

	.information__img img{
		object-position: 50% 100%;
	}

	.information__colr{
		width: 100%;
		margin-top: 30px;
	}

	.information__colr-wrap{
		max-width: none;
		padding: 0;
	}

	.information__btn{
		margin-top: 32px;
	}


	.news__item {
		width: calc(100% / 2 - 20px);
	}

	.news__grid_inner .news__item:nth-child(n + 3){
		display: none;
	}


	.footer{
		padding-top: 17px;
		padding-bottom: 38px;
	}

	.footer__logo img{
		width: 124px;
	}

	.footer .mini-modal_lang{
		display: none;
	}

	.footer__contacts{
		/* width: calc(100% + 32px);
		margin-left: -16px;
		margin-right: -16px;
		margin-top: 20px;
		padding: 16px 16px 0;
		border-top: 1px solid #E4F0F6; */

		width: 168px;
	}

	.footer__phone
	{
		width: 100%;
	}

	.footer__phone a{
		font-size: 18px;
		line-height: normal;
	}

	.footer__request{
		margin: 15px 0 0;
		width: 100%;
	}

	.footer__top{
		width: calc(100% + 32px);
		margin-left: -16px;
		margin-right: -16px;
		margin-bottom: 29px;
		padding: 0 16px 16px;
	}

	.footer__copy{
		width: 100%;
		margin-bottom: 14px;
	}

	.footer__links{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
	}

	.footer__links-sep{
		margin: 0 auto;
		width: 16px;
		background: transparent;
	}
}